<!DOCTYPE html>
<html>
  <head>
    <title>List of Shoe Brands</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='Content/css/styles.css'>
  </head>
  <div class="container">
    <h1>List of Shoe Brands</h1>
    <ul>
      @{
        if(Model!= null)
        {
          foreach (var brand in @Model)
          {
            <li>
            <h3>@brand.GetName()</h3>
            <a href="/brandStores/@brand.GetId()">See List of stores that sell @brand.GetName()</a> |<a href="/addStore/@brand.GetId()">Add a seller to @brand.GetName()</a>
            </li>
          }
        }
      }
    </ul>
    <a href="/">Home</a>
  </div>
