<!DOCTYPE html>
<html>
  <head>
    <title>List of Shoe Stores</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='Content/css/styles.css'>
  </head>
  <div class="container">
    <h1>List of Shoe Stores</h1>
    <ul>
      @{
        if(Model!= null)
        {
          foreach (var store in @Model)
          {
            <li>
            <h3>@store.GetName()</h3>
            <a href="/storeBrands/@store.GetId()">See List of Brands at @store.GetName()</a> |<a href="/addBrand/@store.GetId()">Add a Brand to @store.GetName()</a> <a href="/editStore/@store.GetId()">Edit Name</a> |
              <form action="/deleteStore/@store.GetId()" method="post"><input type="hidden" name="_method" value="DELETE"><button class="btn btn-danger" type="submit">Delete Store</button></form>
            </li>
          }
        }
      }
    </ul>
    <h3>Add a new Store</h3>
    <form method="post" action="/addStore">
      Store name:
      <input type="text" name="newStore-name">
      <button type="submit">Add</button>
    </form>

    <a href="/">Home</a>
    <form action="/deleteAllStores" method="post"><input type="hidden" name="_method" value="DELETE"><button class="btn btn-danger" type="submit">Delete ALL Stores!</button></form>
  </div>
