<h2>Edit info for @Model.GetName()</h2>
<form action="/stores/edit/@Model.GetId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input name="store-id" type="hidden" value="@Model.GetId()">
  <label for="store-name">Store name</label>
  <input id="store-name" name="store-name" type="text">
  <button type="submit">Submit</button>
</form>
